footer {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .logo-footer {
        background: url('../../assets/img/logosite3.png') center/cover;
        height: 300px;
        width: 650px;
        margin: 0 auto;

        @media screen and (max-width: 670px) {
            height: 240px;
            width: 100%;
        }

        @media screen and (max-width: 540px) {
            height: 200px;
        }

        @media screen and (max-width: 540px) {
            height: 130px;
        }
    }

    .footer-item {
        display: flex;
        width: 100%;
        margin: 10px auto;

        .footer-ico {
            margin: 0 10px;
            height: 25px;
            width: 19px;
        }

        a {
            color: white;
            text-decoration: none;
        }
    }

    .footer-bottom {
        background: black;
        text-align: center;
        padding: 10px 0;

        a {
            font-size: 0.8rem;
            color: grey;
            text-decoration: none;
            transition: 0.4s;

            &:hover {
                color: white;
            }
        }
    }
}