nav {
    width: 100%;

    ul {
        display: flex;
        justify-content: space-around;
        margin: 20px 0;

        li {
            list-style: none;

            a {
                position: relative;
                color: white;
                text-decoration: none;
                text-transform: uppercase;

                &.nav-active::before {
                    content: "𝄞";
                    margin-right: 5px;
                    color: white;
                    transition: transform 0.4s ease-in-out;
                }

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 0;
                    height: 2px;
                    background-color: white;
                    transform: translateX(-50%);
                    transition: 0.4s;
                }

                &:hover::after {
                    width: 100%;
                    transform: translateX(-50%);
                }
            }
        }

        @media screen and (max-width: 670px) {
            flex-direction: column;
            width: 70%;
            transform: translateY(-400px);
            margin: 0 50px;

            li {
                margin-bottom: 10px;
            }
        }
    }
}

@keyframes draw-border {
    to {
        border-width: 100%;
    }
}