form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .form-cart {
        background: rgba(0, 0, 0, 0.5);
        border: 1px solid grey;
        width: 90%;
        margin: 20px auto;
        padding: 20px 10px;

        label {
            display: flex;
            transition: 0.4s;
            cursor: pointer;

            &:hover {
                background: rgb(95, 95, 95);
            }

            &.selected {
                background: white;
                color: black;
            }
        }

        input[type='radio'] {
            display: none;
        }

        legend {
            font-weight: bold;
            font-size: 1.2rem;
        }

        .manche-alu {
            margin-top: 15px;
            font-weight: bold;
        }
    }

    .contact {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 90%;

        .check {
            display: flex;
            flex-direction: column;
            width: 100%;

            .check-card {
                display: flex;
                align-items: center;
                justify-content: start;

                label {
                    display: flex;
                    flex-direction: column;
                    margin-top: 15px;

                    a {
                        color: grey;
                        text-decoration: none;
                        transition: 0.4s;

                        &:hover {
                            color: white;
                        }
                    }

                    &:hover {
                        background: none;
                    }
                }
            }
        }

        // a {
        //     margin: 0 5px;
        // }
    }

    textarea {
        height: 110px;
        min-width: 99%;
        max-width: 99%;
        min-height: 50px;

        // @media screen and (max-width: 542px) {
        //     min-width: 300px;
        //     max-width: 300px;
        // }

        // @media screen and (max-width: 320px) {
        //     min-width: 280px;
        //     max-width: 280px;
        // }
    }

    input,
    textarea {
        font-family: -apple-system, BlinkMacSystemFont, poppins, 'Segoe UI', 'Roboto', 'Oxygen',
            'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
            sans-serif;
        margin: 10px;
        width: 99%;
        height: 50px;
        background: none;
        color: white;
        font-size: 1.5em;
        border: none;
        border-bottom: 1px solid white;

        &:focus {
            outline: none;
        }

        // @media screen and (max-width: 542px) {
        //     width: 300px;
        // }

        // @media screen and (max-width: 320px) {
        //     width: 280px;
        // }
    }

    .PhoneInput {
        width: 99.8%;
        margin-left: 10px;

        // @media screen and (max-width: 542px) {
        //     width: 300px;
        // }

        // @media screen and (max-width: 320px) {
        //     width: 280px;
        // }

        .PhoneInputCountry {
            font-size: 1.2rem;
            margin-bottom: 10px;
            border-bottom: 1px solid white;

        }
    }

    input[type="checkbox"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 40px;
        min-width: 40px;
        height: 40px;
        margin-top: 30px;
        border: 2px solid white;
        border-radius: 4px;
        outline: none;
        transition: all 0.3s ease;
        cursor: pointer;
    }

    input[type="checkbox"]:checked {
        background-color: grey; // rgb(100, 0, 0);
        border-color: white;
    }

    input[type="checkbox"]:checked::before {
        content: "\2713";
        display: block;
        color: #fff;
        font-size: 35px;
        line-height: 1;
        text-align: center;
        text-shadow: 1px 1px #666;
        font-weight: bold;
    }

    .bottom-form {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;

        button {
            background: rgb(255, 255, 255);
            color: black;
            width: 150px;
            font-size: 1.1rem;
            border: 1px solid white;
            border-radius: 25px;
            padding: 10px 20px;
            margin: 15px 0;
            transition: 0.4s;
            cursor: pointer;

            &:hover {
                background: black;
                color: white;
                border: 1px solid black;
            }
        }

        p {
            font-size: 1.5rem;
            transition: 1s;
        }
    }
}