* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", "ZRaleway", sans-serif;
    background: url('../assets/img/05.jpg') center/cover;
    margin-top: 500px;
    background-attachment: fixed;
    color: white;

    // div,
    // section,
    // footer,
    // header,
    // nav {
    //     border: 1px solid red;
    // }
}