* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: "Poppins", "ZRaleway", sans-serif;
    background: url('../assets/img/guitar.png') center/cover;
    background-attachment: fixed;
    color: white;

    // a {
    //     color: white;
    //     transition: 0.4s;

    //     &:hover {
    //         color: rgb(0, 0, 0);
    //     }
    // }
}