.caracteristiques {
    .container {
        .video-a-propos {
            display: flex;
            justify-Content: center;
            width: 100%;
            gap: 10px;
            flex-Wrap: wrap;
            margin: 0 auto 50px;
        }
    }
}