.body {
    .online-quote {
        background: rgba(0, 0, 0, 0.753);
        width: 100%;

        h2 {
            font-size: 2rem;
            margin: 50px 0 100px;
            text-align: center;
            padding-top: 50px;
        }
    }
}