// .guitar {
//     transform: translateY(-500px);
// }

.guitar {
    position: relative;
    top: -500px;
}

.body {

    .guitars {
        background: rgba(0, 0, 0, 0.753);
        width: 100%;

        h1 {
            font-size: 2rem;
            margin: 85px 0 100px;
            text-align: center;
            padding-top: 50px;
        }

        .text-container {
            width: 70%;
            margin: 0 auto;
            padding-bottom: 50px;

            p {
                margin: 20px 0;

                a {
                    color: grey;
                    text-decoration: none;
                    transition: 0.4s;

                    &:hover {
                        color: white;
                    }
                }
            }

            @media screen and (max-width: 800px) {
                width: 90%;
            }
        }

        .guitar-card {
            flex-direction: column;
            width: 100%;
            max-width: 380px;

            &::after {
                content: "";
                background: grey;
                height: 2px;
                width: 100%;
                margin: 20px 0;

                @media screen and (max-width: 800px) {
                    width: 90%;
                }

                @media screen and (max-width: 400px) {
                    width: 80%;
                }
            }

        }

        .img-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            max-width: 1200px;
            margin: 0 auto;

            h2 {
                text-align: center;
            }

            // .card {
            //     width: 350px;
            //     margin: 15px;
            // }
            .card {
                width: 100%;
                max-width: 350px;
                margin: 15px auto;
            }

            .price-plus {
                display: flex;
                justify-content: space-around;
                width: 100%;

                p {
                    font-size: 1.2rem;
                    font-weight: bold;
                }

                a {
                    background: linear-gradient(90deg, #e4741a, #D19768);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    color: transparent;

                    display: inline-block;
                    padding: 12px 20px;
                    border: 3px inset #e4741a;
                    background: linear-gradient(90deg, #e4741a, #D19768);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    color: transparent;
                    font-weight: bold;
                    font-size: 1.2rem;
                    text-decoration: none;
                    border-style: inset;
                    transition: padding 0.4s;
                    padding: 5px;

                    &:hover {
                        background: linear-gradient(90deg, #c47c62, #e2ad81);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        color: transparent;

                        display: inline-block;
                        padding: 12px 20px;
                        border: 3px inset #e2ad81;
                        background: linear-gradient(90deg, #c47c62, #e2ad81);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        color: transparent;
                        transition: padding 0.4s;
                        padding: 5px 10px 5px 10px;
                    }
                }
            }
        }
    }
}