.guitar {
    transform: translateY(-500px);
}

.body {
    .guitars {
        background: rgba(0, 0, 0, 0.753);
        width: 100%;

        h1 {
            font-size: 2rem;
            margin: 85px 0 100px;
            text-align: center;
            padding-top: 50px;
        }

        .text-container {
            width: 70%;
            margin: 0 auto;
            padding-bottom: 50px;

            p {
                margin: 20px 0;

                a {
                    color: grey;
                    text-decoration: none;
                    transition: 0.4s;

                    &:hover {
                        color: white;
                    }
                }
            }

            @media screen and (max-width: 800px) {
                width: 90%;
            }
        }

        .guitar-card {
            flex-direction: column;
            width: 380px;

            &::after {
                content: "";
                background: grey;
                height: 2px;
                width: 100%;
                margin: 20px 0;
            }
        }

        .img-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            max-width: 1200px;
            margin: 0 auto;

            h2 {
                text-align: center;
            }

            .card {
                width: 350px;
                margin: 15px;
            }

            .price-plus {
                display: flex;
                justify-content: space-around;
                width: 100%;

                p {
                    font-size: 1.2rem;
                    font-weight: bold;
                }

                a {
                    color: grey;
                    font-size: 1.2rem;
                    text-decoration: none;

                    &:hover {
                        color: rgb(255, 255, 255);
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}