.body {
    .mentions-legales {
        background: rgba(0, 0, 0, 0.753);
        width: 99vw;



        .container {
            width: 1200px;
            margin: 0 auto;
            padding-bottom: 50px;

            h1 {
                font-size: 2rem;
                margin: 300px 0 100px;
                text-align: center;
                padding-top: 50px;
            }

            h2 {
                margin-top: 30px;
            }

            p {
                margin-top: 10px;
            }

            ul {
                margin-top: 10px;

                li {
                    list-style: decimal;
                    margin-left: 30px;
                }
            }
        }
    }
}